.inputs {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  //font-family: 'Helvetica', sans;

  &.is-disabled {
    opacity: .5;
    pointer-events: none;
    display: none;
  }
}

.inputs__separator {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #555;
}

.input {
  width: 50%;
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.input__btn {
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 18px 26px;
  line-height: 1em;
  border-radius: 40px;
  display: inline-block;
  background-color: $c-accent;
  width: 80%;

  &--term {
    position: absolute;
    right: 10%;
    top: 50%;
    width: auto;
    border-top-left-radius: 0;
    color: $c-accent;
    background-color: transparent;

    transform: translateY(-50%);
  }
}

.input__file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input__input-container {
  position: relative;
}

.input__text-input {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  outline: none;
  outline-style:none;
  box-shadow:none;
  margin-left: 10px;
  display: inline-block;
  padding-right: 40px;
  width: 80%;
  //border-bottom: 1px solid rgba(255, 255, 255, .1);

  // border: none;
  // color: transparent;
  // text-shadow: 0 0 0 #fff;
  background-color: #d6d6d6;
  border-radius: 30px;
  padding: 18px 26px;
  line-height: 1em;
  overflow: hidden;


  &::placeholder {
    color: #888;
    opacity: .5;
    overflow: hidden;
    text-overflow: ellipsis;
    whitespace: nowrap;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.input__error {
  color: #fff;
  position: absolute;
  background-color: #ff4ab4;
  bottom: 85px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 30px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 18px;
    height: 18px;
    transform: translateX(-50%) rotate(45deg);
    background-color: inherit;
  }
}

.input__clear-input {
  position: absolute;
  right: 8px;
  cursor: pointer;
  opacity: .5;
  //color: #ff4ab4;
}