@import './normalize.scss';

$base-font: 'Times New Roman', 'Times', serif; //'VT323' 'OCR A Std' 'mono-space';
$base-font-size: 24px;

$c-background: #fff;
$c-accent: #1271ff;

$body-padding: 1.5vh 3.5vw;
$d-inputs-height: 60px;

* {
  box-sizing: border-box;
}

body {
  background: $c-background;
  color: #222;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.3em;
  letter-spacing: .01em;
}

@import "./btn.scss";
@import "./intro.scss";
@import "./inputs.scss";
@import "./conversations.scss";
@import "./header.scss";
@import "./info.scss";