@import './normalize.scss';

$base-font: 'Times New Roman', 'Times', serif; //'VT323' 'OCR A Std' 'mono-space';
$base-font-size: 24px;

$c-background: #fff;
$c-accent: #1271ff;

$body-padding: 1.5vh 3.5vw;
$d-inputs-height: 60px;

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

* {
  box-sizing: border-box;
}


body {
  background: $c-background;
  color: #222;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.4em;
}

@import "./btn.scss";
@import "./intro.scss";
@import "./inputs.scss";
@import "./conversations.scss";
@import "./header.scss";
@import "./info.scss";